<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        {{> 'modules/simply-sheet-swse/template/parts/sheet-header.hbs'}}
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="summary">Summary</a>
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="equipment">Equipment</a>
        <a class="item" data-tab="modes">Modes</a>
        <a class="item" data-tab="description">Notes</a>
        <a class="item" data-tab="settings">Settings</a>
    </nav>
    <section class="sheet-body">
        <div class="tab summary" data-group="primary" data-tab="summary">
            {{> 'modules/simply-sheet-swse/template/parts/summary-tab.hbs'}}
        </div>
        <div class="tab features" data-group="primary" data-tab="features">
            {{> 'modules/simply-sheet-swse/template/parts/features-tab.hbs'}}
        </div>
        <div class="tab equipment" data-group="primary" data-tab="equipment">
            {{> 'modules/simply-sheet-swse/template/parts/equipment-tab.hbs'}}
        </div>
    </section>
</form>