<div class="grid tab-features">
    <div class="flex-col">
        {{> "modules/simply-sheet-swse/template/parts/features-tab-parts/class-panel.hbs"}}
    </div>
    <div class="flex-col">
        {{> "modules/simply-sheet-swse/template/parts/features-tab-parts/feats-panel.hbs"}}
    </div>
</div>