<div class="grid tab-features">
    <div class="flex-col">
        {{> "modules/simply-sheet-swse/template/parts/features-tab-parts/class-panel.hbs"}}
        {{> "modules/simply-sheet-swse/template/parts/features-tab-parts/traits-panel.hbs"}}
        {{> "modules/simply-sheet-swse/template/parts/features-tab-parts/beast-panel.hbs"}}
    </div>
    <div class="flex-col">
        {{> "modules/simply-sheet-swse/template/parts/features-tab-parts/feats-panel.hbs"}}
        {{> "modules/simply-sheet-swse/template/parts/features-tab-parts/talents-panel.hbs"}}
        {{> "modules/simply-sheet-swse/template/parts/features-tab-parts/force-panel.hbs"}}
    </div>
</div>