<div class="tab-summary">
    <div class="flex-col left-column">
        {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/ability-score-panel.hbs"}}
        {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/defence-panel.hbs"}}
    </div>
    <div class="flex-col big-column">
        <div class="flex">
            <div class="flex-col middle-column">
                {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/hit-point-panel.hbs"}}
                {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/threshold-panel.hbs"}}
                {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/dark-side-score-panel.hbs"}}
            </div>
            <div class="flex-col right-column">
                {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/speed-panel.hbs"}}
                {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/points-panel.hbs"}}
                {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/shields-panel.hbs"}}
                {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/condition-panel.hbs"}}
                {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/gravity-panel.hbs"}}
            </div>
        </div>
        {{> "modules/simply-sheet-swse/template/parts/summary-tab-parts/skills-panel.hbs"}}
    </div>
</div>
{{!-- TEMPLATE //TODO delete
<div class="flex-col right-column">
    <div class="shields panel">
        <label class="medium-header"> </label>
        <div class="flex-col">

        </div>
    </div>
</div>

<div class="flex-col">
    <label class="small-header"> </label>
    <div class="unlabeled-input">
        <input />
    </div>
</div>
--}}