<div class="points panel">
    <label class="medium-header">Force Points</label>
    <div class="flex-col">
        <div class="unlabeled-input">
            <input class="plain" type="number" name="system.forcePoints" value="{{actor.system.forcePoints}}"
                data-dtype="Number" />
        </div>
    </div>
    <label class="medium-header">Destiny Points</label>
    <div class="flex-col">
        <div class="unlabeled-input">
            <input class="plain" type="number" name="system.destinyPoints" value="{{actor.system.destinyPoints}}"
                data-dtype="Number" />
        </div>
    </div>
</div>