<div class="speed panel">
    <div class="flex-col">
        <label class="medium-header" for="dtMisc">Speed</label>
        <div class="unlabeled-input">
            <input id="dtMisc" type="text" value="{{actor.speed}}" disabled />
        </div>
    </div>
</div>